[submodule "sdk/python"]
	path = sdk/python
	url = https://github.com/Vex-AI-Dev/Python-SDK.git
[submodule "sdk/typescript"]
	path = sdk/typescript
	url = https://github.com/Vex-AI-Dev/Typescript-sdk.git
[submodule "Dashboard"]
	path = Dashboard
	url = https://github.com/Vex-AI-Dev/Vex-Dashboard.git
